<h1>Contact Us</h1>


<div>
    <h2>Chase Ennis</h2>
    <h3>email: ennis.18</h3>
    <p>I am Chase. I am an active runner. I wanted to make a site to help runners track their workouts.</p>
    <h2>Blake Colegrove</h2>
    <h3>email: colegrove.5</h3>
    <p>Hi, I'm Blake. I'm in the US Air Force. Running is a key component of my fitness standards. To help myself better
        track my runs and progress, I thought a site like this could not just benefit me but anyone else needing a good
        way to track their workouts!
    </p>
    <h2>Connor Fanning</h2>
    <h3>Email: fanning.12</h3>
    <p>Hi; I'm Connor Fanning. I'm the backend developer Chase and Blake hired to "make the things work". I don't really find tracking exercises all that interesting; I just do them.</p>
    <p>Also, I think I'm the only artist on this team. I haven't asked; just basing this on vibes.</p>
    <h2>Jordan Henman</h2>
    <h3>email: henman.6@wright.edu</h3>
    <p>Hello, I'm Jordan Henman, I joined this group super late in the year and now I'm just here.</p>
</div>
