<div>
    <h1>Workout List</h1>
    <!-- Add a new workout -->
    <div>
        <input [(ngModel)]="newWorkoutType" placeholder="New Workout Type" />
        <button (click)="addWorkout()">Add Workout</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>

    <!-- Edit an existing workout -->
    <div *ngIf="workoutToEditId !== null">
        <input [(ngModel)]="editWorkoutType" placeholder="Edit Workout Type" />
        <button (click)="saveEdit()">Save Edit</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>

    <!-- Check if workouts array is empty -->
    <div *ngIf="workouts.length === 0">
        <p>No workouts available.</p>
    </div>

    <!-- Workout list -->
    <ul *ngIf="workouts.length > 0">
        <li *ngFor="let workout of workouts" class="workout-item">
            <span>{{ workout.workout_type }}</span>
            <div class="buttons">
                <button class="edit-button" (click)="startEditing(workout.id)">Edit</button>
                <button class="delete-button" (click)="deleteWorkout(workout.id)">Delete</button>
            </div>
        </li>
    </ul>
</div>


