.log-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #258cb8;
    color: #101114;
    border-radius: 8px;
    background-color: #313199;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.log-container h1 {
    text-align: center;
    color: #fcfff2;
    margin-bottom: 20px;
}

.log-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #d7e0d9;
}

.log-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #d7e0d9;
    border-radius: 4px;
    background-color: #585c5b;
    font-size: 14px;
    color: #d7e0d9;
    transition: background-color 0.3s ease;
}
.log-container select:hover, .log-container select:focus{
    background-color: #3b3d3d;
}

.log-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #227a2e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.log-container button:hover {
    background-color: #2cb82c;
}
