<div class="log-container">
    <h1>Log a Workout</h1>
  

    <label for="runner-select">Select Runner:</label>
    <select id="runner-select" [(ngModel)]="selectedRunnerId">
      <option *ngFor="let runner of runners" [value]="runner.runner_id">{{ runner.name }}</option>
    </select>
  
  
    <label for="workout-select">Select Workout:</label>
    <select id="workout-select" [(ngModel)]="selectedWorkoutId">
      <option *ngFor="let workout of workouts" [value]="workout.workout_id">
        {{ workout.workout_type }}
      </option>
    </select>
  

    <button (click)="logWorkout()">Log Workout</button>
  </div>
  
