
.workout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #313199;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.3s ease;
    border: #258cb8 3px solid;
    width: 95%;
}

.workout-item span {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
    color: #d7e0d9;
}

.buttons {
    display: flex;
    gap: 10px;  
}

button.edit-button {
    background-color: #b88c33 !important; 
    color: #d7e0d9 !important;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.edit-button:hover {
    background-color: #ebdf42 !important; 
    color: #101114 !important;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


button.delete-button {
    background-color: #991f2f !important; 
    color: white !important;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.delete-button:hover {
    background-color: #e53737 !important; 
    transform: scale(1.05);
}


.workout-item:hover {
    background-color: #543fe0;
    transform: scale(1.02);
}


div > input {
    padding: 8px 12px;
    margin-right: 10px;
    background-color: #585c5b;
    color: #fcfff2;
    border: 2px solid #28628f;
    border-radius: 4px;
    transition: background 0.3s ease;
}

div > input:hover, div > input:focus {
    background-color: #3b3d3d;
}
div > button {
    padding: 8px 15px;
    background-color: #227a2e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div > button:hover {
    background-color: #2cb82c;
}

div > input:focus {
    outline: none;
    border-color: #007bff;
}
