
<div class="home-container">
    <h1>Welcome to the efficient way to train</h1>
    <p>We store so you do not have to!</p>


    <!-- Buttons -->
    <button (click)="toggleAddWorkoutForm()">Add Workout Type</button>
    <button (click)="toggleEditRunnerForm()">Add Runner</button>
    <button (click)="toggleDeleteWorkoutForm()">Log Run</button>

    <!-- Add Workout Form -->
    <div *ngIf="showAddWorkoutForm" class="workout-form">
        <p>TODO: Add Workout Form Here</p>
    </div>

    <!-- Edit Workout Form -->
    <div *ngIf="showEditRunnerForm" class="workout-form">
        <p>TODO: Edit Workout Form Here</p>
    </div>

    <!-- Log Run Form -->
    <div *ngIf="showLogWorkoutForm" class="workout-form">
        <p>TODO: Delete Workout Form Here</p>
        
    </div>

    <!-- TODO: Add other features here as necessary like evaluations and workouts -->
</div>

