.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    padding: 14px 20px;
    color: #fcfff2;
    display: block;
}

@media (max-width: 768px) {
    .navbar ul {
    flex-direction: column;
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

button {
    background-color: #a6ada9; 
    color: #101114;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}
button:hover{
    background-color: #8463e0;
    border-radius: 32px;
}

.workout-form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

@media (max-width: 768px) {
        .home-container {
        padding: 10px;
    }
}