<h1>About Us</h1>
<p>We are dedicated to helping runners, like us, who want an easier more managable to track and review our runs and workouts. Our website
is designed to be used not only by runners for individual progress and goals, but for coaches and managers! With Workout App, as a coach, you can
create your atheletes their own runner accounts so they can upload their runs and workouts and you can view their stats and track their workouts with them
with ease at any time! We hope you find Workout App useful. If you have any issues, head over to our Contact Us page and reach out; we're happy to help!
Run on!</p>


